<div class="background">
  <mat-toolbar color="primary">
    <span>Notes</span>
    <button mat-raised-button color="accent">New Note</button>
    <button mat-fab (click)="logout()" color="accent" class="logout-button">
      <ng-icon name="matLogOut" size="2em"></ng-icon>
    </button>
  </mat-toolbar>

  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let note of notes"
    [colspan] = "rowspan"
    [rowspan] = "colspan">
      <div class="note">
        <div class="note-title">
          <h2>{{note.title}}</h2>
        </div>
        <h3>{{note.text}}</h3>
        <h3>{{note.lastEdit}}</h3>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
