<div class="background">
  <mat-toolbar color="primary">
    <span>Notes</span>
    <button mat-raised-button color="accent">New Note</button>
    <button mat-fab (click)="logout()" color="accent" class="logout-button">
      <ng-icon name="matLogOut" size="2em"></ng-icon>
    </button>
  </mat-toolbar>

  <div class="note-container">
    <mat-grid-list cols="4" rowHeight="fit">
      <mat-grid-tile *ngFor="let note of notes"
                     [colspan] = "rowspan"
                     [rowspan] = "colspan">
        <div class="note">
          <div class="note-title">
            <h2>{{note.title}}</h2>
          </div>
          <div class="line"></div>
          <div class="note-text">
            <h3>{{note.text}}</h3>
          </div>
          <div class="note-date">
            <h3>{{note.lastEdit}}</h3>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
