<div class="background">
  <div class="login-container">
    <form style="max-width: 40%" (ngSubmit)="submitForm()" [formGroup]="loginForm">
      <div class="login-row">
        <h1>Notes Log In</h1>
      </div>
      <div class="login-row">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input formControlName="username" matInput placeholder="user@example.com" required>
        </mat-form-field>
      </div>
      <div class="login-row">
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon color="accent">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="login-row">
        <button class="login-button" mat-raised-button type="submit" color="primary">Log In</button>
      </div>
      <div class="register">
        <p style="color: rgb(128,128,128);">Don't have an account?</p>
        <a style="color:#9c31ff; font-weight: bold;" [routerLink]="['/auth/register']">Register</a>
      </div>
      <div class="line">
        <span class="line-text">or</span>
      </div>
      <div class="button-row">
        <button class="google-btn oauth-btn-google" (click)="authorizeWithGoogle()">
          <div class="oauth-button">
            <img ngSrc="/assets/icons/google-icon.svg" alt="Google icon" class="google-icon" height="20" width="20">
            <span class="google-text">Continue with Google</span>
          </div>
        </button>
        <button class="google-btn oauth-button-github" (click)="authorizeWithGitHub()">
          <div class="oauth-button">
            <img ngSrc="/assets/icons/github-icon.svg" alt="Github icon" class="google-icon" height="20" width="20">
            <span class="google-text">Continue with GitHub</span>
          </div>
        </button>
      </div>
    </form>
    <div class="spinner-container">
      <mat-spinner *ngIf="waitingForResponse" [diameter]="50" class="spinner"></mat-spinner>
    </div>
  </div>
</div>

